<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.detech.Mito">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/play_store_512"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_adaptive_back"
        android:supportsRtl="true"
        android:theme="@style/Theme.Strangers"
        android:usesCleartextTraffic="true">
        <activity android:name="com.detech.Mito.activities.RewardActivity"></activity>
        <activity android:name="com.detech.Mito.activities.CallActivity" />
        <activity android:name="com.detech.Mito.activities.ConnectingActivity"></activity>
        <activity android:name="com.detech.Mito.activities.LoginActivity" />
        <activity android:name="com.detech.Mito.activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.detech.Mito.activities.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1171612315548548~8972238396"/>
    </application>

</manifest>